
<html>
  <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog_Moda</title>
        
        <link rel="stylesheet" href="/stylesheets/EstiloNc.css">

  </head>
<body>
  <div class="mobile"><br><br>
    <div class="topnav">
      <a onclick="openNav()"> 
      <ion-icon name="reorder-three-outline" style="width: 100%; height: 5%;">
        </ion-icon> </a>
      <div class="dropdown">
        <a class="dropbtn">   
          <ion-icon name="person-circle-outline" style="height: 5%;">  <i class="fa-caret-down"></i></ion-icon> 
        </a>
        <div class="dropdown-content">
          <a href="/Login">Login</a>
          <a href="/Cadastro">Cadastro</a>
          <a href="/Perfil">Perfil</a>
        </div><!--DropdownCotnet-->
      </div><!--TopoNavegador-->
    </div><!--mobile--><br>
  </div>

  <div class="sidebar" id="Sb">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
    <a href="/">Home</a>
    <a href="/Noticias">Noticias</a>
    <a href="/Destaques">Destaque</a>
  </div><!--SideBar-->

  </div class="contem">
      <div class="row">
        <div class="leftcolumn">
          <%
            ListaPosts.forEach((esquemaUsers) =>{
            %>
            <div class="card">
              <h2><%=esquemaUsers.title%></h2>

              <h5> Data da publicação: <%=esquemaUsers.date%></h5>

              <img src="<%=esquemaUsers.iamge%>" style="width: 100%; height: 25%;" >

              <p><%=esquemaUsers.title%></p>

              <p><%=esquemaUsers.description%></p>
            </div><!--cardp--> <br>
          <% }) %>
        </div><!--colunaEsquerda-->
        <div class="rightcolumn">
          <div class="card">
            <a href="/Cadastro" style="font-size: large;">Cadastre</a>
          </div><!--card1-->

          <div class="card">
            <h3>Popular Post</h3>
            <%
            for(var i = 0; i < 2; i++){
            %>
              <img src="<%=ListaPosts[i].iamge%>" style="width: 100%; height: 25%; margin-bottom: 5px;">
            <% } %>
          </div><!--card2-->

          <div class="card">
            <h3>Follow Me</h3>

            <p>Some text..</p>

          </div><!--card3-->
        
        </div><!--rightcolumn-->
      </div><!--row-->
    </div><!--contem-->
    <div class="pagination">
          <a href="#1">&laquo;</a>
          <a href="#1">1</a>
          <a href="#2">2</a>
          <a href="#3">3</a>
          <a href="#4">4</a>
          <a href="#5">5</a>
          <a href="#6">6</a>
          <a href="#6">&raquo;</a>
        </div><!--Pagination-->
    <div class="footer">
      <footer>
        <div class="links-social-redes">
          <div class="icons">
            <ion-icon class="icons" name="logo-instagram" style="color: white; margin: 0;"></ion-icon>
            <a href="mailto:Devil@instagram.com">@DeVillBlog</a>
          </div>
          <div class="icons">
            <ion-icon class="icons" name="mail-outline" style="color: white; margin: 0;"></ion-icon>
            <a href="mailto:Devil@gmail.com">DeVill@gmail.com</a>
          </div>
          <div class="icons">
            <ion-icon class="icons" name="logo-twitter" style="color: white; margin: 0;"></ion-icon>
          <a href="mailto:Devil@twiter.com">@DeVillBlog</a>
          </div>
          </div>
          <div id="logo">
            <h1 style="color: white;">DE VILL</h1>
          </div>
      </footer>
    </div><!--footer-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--PermissãoModulo-->

    <script>
      function openNav() {
        document.getElementById("Sb").style.width = "250px";
        document.getElementById("topnav").style.marginLeft = "250px";
        document.getElementsByClassName("sumir")  
        }
      
      function closeNav() {
        document.getElementById("Sb").style.width = "0";
        document.getElementById("topnav").style.marginLeft= "0";
      }


    </script>
  </body>
</html>
