
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Devil</title>
    <link rel="stylesheet" href="/stylesheets/EstiloT.css">
</head>
<body>
    
  <div class="mobile"><br><br>
    <div class="topnav">
      <a  onclick="openNav()"> 
      <ion-icon name="reorder-three-outline" style="width: 100%; height: 5%;">
       </ion-icon> </button></a>
   

      <div class="dropdown">
        
       <a class="dropbtn">   
         <ion-icon name="person-circle-outline" style="height: 5%;">  <i class="fa fa-caret-down"></i></ion-icon> 
        </a> 
      
        
          
        </button>
        
        <div class="dropdown-content">
        
          <a href="/Membro">Membro</a>
          <a href="">Sair</a>
        
  
      </div><!--DropdownCotnet-->
      
  
  
   </div><!--TopoNavegador-->
  </div><!--mobile-->
 
  <div class="sidebar" id="Sb">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
   <a href="/">Home</a>
   <a href="/Noticias">Noticias</a>
   <a href="/Destaques">Destaque</a>
 
  </div><!--SideBar-->
    
     <div class="quadrado">
        <h1 id="Titulo"><%=user.username%> <%=user.member%></h1>
        <img src="<%=user.image%>" alt="">
        <form action="/alterarImagem" method="POST">
          <input name="image" type="text" id="lname" placeholder="<%=user.image%>">
          <input type="submit" value="Trocar Foto">
        </form>
        <h3>DADOS PESSOAIS</h3>
        <form action="/alterarUsuario" method="POST">
          <div class="input">
            <input name="username" type="text" id="username" placeholder="<%=user.username%>">
          </div>
          <div class="input">
            <input name="email" type="email" id="email" placeholder="<%=user.email%>">
          </div>
          <input type="submit" value="Alterar">
        </form>
     </div><br>

     <div class="footer">
      <footer>
        <div class="links-social-redes">
          <div class="icons">
            <ion-icon class="icons" name="logo-instagram" style="color: white; margin: 0;"></ion-icon>
            <a href="mailto:Devil@instagram.com">@DeVillBlog</a>
          </div>
          <div class="icons">
            <ion-icon class="icons" name="mail-outline" style="color: white; margin: 0;"></ion-icon>
            <a href="mailto:Devil@gmail.com">DeVill@gmail.com</a>
          </div>
          <div class="icons">
            <ion-icon class="icons" name="logo-twitter" style="color: white; margin: 0;"></ion-icon>
          <a href="mailto:Devil@twiter.com">@DeVillBlog</a>
          </div>
          </div>
          <div id="logo">
            <h1 style="color: white;">DE VILL</h1>
          </div>
      </footer>
    </div><!--footer-->


      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <!--PermissãoModulo-->

      <script>

        function openNav() {
          document.getElementById("Sb").style.width = "250px";
          document.getElementById("topnav").style.marginLeft = "250px";
          document.getElementsByClassName("sumir")  
          }
        

        function closeNav() {
          document.getElementById("Sb").style.width = "0";
          document.getElementById("topnav").style.marginLeft= "0";
        }

        function sumir() { 
          var x = document.getElementById('links');
          if(x.style.display === 'block') 
            {
              x.style.display = 'none';
            }
            else{
              x.style.display = 'block'
            }
        }
      </script>
</body>
</html>